html {
	font-family: QuickSand, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1, h2, h3 {
	font-weight: 400;
}

h3 {
	margin: 0;
}

a:visited {
	color: #3464B7;
}

a {
	color: #5DABFF;
	text-decoration: none;
}

select {
	border-width: 0;
	font-family: QuickSand;
	font-size: 1rem;
	color: #F8F8F8;
	background-color: #1A1A1A;
}

/* BODY */

.bodyLight {
	color: #1A1A1A;
	background-color: #F8F8F8;
}

.bodyLight h1 {
	color: #1A1A1A;
}

.bodyLight a {
	color: #0022CC;
}

.bodyLight a:visited {
	color: #7DB3F1;
}

.bodyLight select {
	color: #1A1A1A;
	background-color: #F8F8F8;
}

.bodyLight #openAllReports {
	color: #0022CC;
}

.bodyLight .report {
	border-image: radial-gradient(#1A1A1A 66%, #F8F8F8 97.5%) 1;
}

.bodyDark {
	color: #F8F8F8;
	background-color: #1A1A1A;
}

.bodyDark h1 {
	color: #F8F8F8;
}

#container {
	min-height: 100%;
	position: relative;
	text-align: center;
}

/* HEADER */

header {
	width: 1000px;
	padding-top: 2%;
	margin: 0 auto 4% auto;
}

header h1 {
	display: inline-block;
	font-size: 350%;
	margin: 0;
}

.switchToLight {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #F8F8F8;
	border-color: #1A1A1A;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
}

.switchToDark {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #1A1A1A;
	border-color: #F8F8F8;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
}

/* MAIN CONTENT */

#main {
	padding-bottom: 8em;
	width: 1000px;
	margin: 0 auto;
}

.reportFunctions {
	display: flex;
	justify-content: space-between;
	margin: 0px 5% 1em 5%;
}

#openAllReports {
	color: #5DABFF;
	cursor: pointer;
}

.reportTitleTag {
	font-family: QuickSandBold;
}

.report {
	padding: 25px 5% 0px 5%;
	margin-bottom: 25px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-image: radial-gradient(#F8F8F8 66%, #1A1A1A 97.5%) 1;
}

.reportSubcontainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.reportSubcontainer:last-child {
	margin-bottom: 0;
}

.fieldOuter {
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* May need to move text alignment to outerfield */

.fieldInner {
	/*margin-left: 2em;*/
	margin-right: 2em;
	/*text-align: left;*/
}

.fieldOuter:last-child > .fieldInner {
	margin-right: 0;
}

.fieldOuter:last-child {
	text-align: right;
}

.fieldOuter:only-child {
	text-align: left;
}

.valueName {
	font-family: QuickSandBold;
}


/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 2em;
}

#footerContainer {
	width: 1000px;
	margin: 0 auto;
	font-family: QuickSand, sans-serif;
	font-size: 75%;
}

.reportOwner {
	float: left;
	margin-left: 5%;
}

.runningOn {
	float: right;
	margin-right: 5%;
}
