html {
	font-family: QuickSand, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1, h2, h3 {
	font-weight: 400;
}

a:visited {
	color: #5DABFF;
}

a {
	color: #60DAFD;
	text-decoration: none;
}

select {
	border: 0;
	font: 1em QuickSand;
	color: #F8F8F8;
	background-color: #1A1A1A;
	cursor: pointer;
}

/* BODY */

.bodyLight {
	color: #1A1A1A;
	background-color: #F8F8F8;
}

.bodyLight h1 {
	color: #1A1A1A;
}

.bodyLight a {
	color: #005AC7;
}

.bodyLight a:visited {
	color: #780AFF;
}

.bodyLight select {
	color: #1A1A1A;
	background-color: #F8F8F8;
}

.bodyLight thead {
	border-color: black;
}

.bodyLight #openAllReports {
	color: #0022CC;
}

.bodyLight .report {
	border-image: radial-gradient(#1A1A1A 66%, #F8F8F8 97.5%) 1;
}

.bodyDark {
	color: #F8F8F8;
	border-color: white;
	background-color: #1A1A1A;
}

.bodyDark thead {
	border-color: white;
}

.bodyDark h1 {
	color: #F8F8F8;
}

#container {
	min-height: 100%;
	position: relative;
}

/* HEADER */

header {
	text-align: center;
	width: 1000px;
	padding-top: 2%;
	margin: 0 auto 4% auto;
}

header h1 {
	display: inline-block;
	font-size: 350%;
	margin: 0;
}

header button {
	padding: 0;
	height: 15px;
	width: 15px;
	border-radius: 10px;
	border-width: 2.5px;
	border-style: solid;
	cursor: pointer;
}

.switchToLight {
	background-color: #F8F8F8;
	border-color: #1A1A1A;
}

.switchToDark {
	background-color: #1A1A1A;
	border-color: #F8F8F8;
}

/* MAIN CONTENT */

#main {
	padding-bottom: 8em;
	width: 1000px;
	margin: 0 auto;
}

#main h2 {
	font-size: 2.5em;
}

#main h2, p {
	text-align: center;
}

.reportFunctions {
	display: flex;
	justify-content: space-between;
	margin: 0 5% 1em 5%;
}

#openAllReports {
	color: #5DABFF;
	cursor: pointer;
}

.report {
	padding: 25px 5% 25px 5%;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-image: radial-gradient(#F8F8F8 66%, #1A1A1A 97.5%) 1;
}

.report div > span {
	display: inline-block;
	margin-right: 3em;
}

.reportSubcontainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.reportSubcontainer:last-child {
	margin-bottom: 0;
}

.reportSubcontainer > div:last-child {
	text-align: right;
}

.reportSubcontainer > div:only-child {
	text-align: left;
}

.reportLink {
	margin-bottom: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.fieldName {
	font-family: QuickSandBold;
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin: 2.5em 0 5em 0;
}

thead {
	border-style: solid;
	border-width: 0 0 1px 0;
}

thead tr th {
	padding-bottom: 10px;
}

tbody tr td {
	padding-top: 15px;
}

/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 2em;
}

#footerContainer {
	width: 1000px;
	margin: 0 auto;
	font-family: QuickSand, sans-serif;
	font-size: 75%;
}

.reportOwner {
	float: left;
	margin-left: 5%;
}

.runningOn {
	float: right;
	margin-right: 5%;
}
